[Unit]
Description=Roscore
After=network.target roscore.socket
Requires=roscore.socket

[Service]
ExecStart=/opt/ros/kinetic/env.sh systemd-roscore --core -p 11311 -w 3 __log:=/dev/null
ProtectSystem=full

[Install]
WantedBy=multi-user.target
